.list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;

    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
}

@media screen and (min-width: 375px) {
    .list {
        gap: 28px;
    }
}

@media screen and (min-width: 768px) {
    .list {
        gap: 32px;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1024px) {
    .list {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 32px;
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 0;
    }
}