.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 450px;
    padding: 24px 64px;
    border-bottom: 1px solid var(--color-badges);
    background-color: var(--color-inputs);
}